

.button-up{
    position: fixed;
    right: 18px;
    bottom: 110px;
    background-color: var(--button-up-background);
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    outline: none;
    z-index: 1000;

}

.button-up-arrow{
    fill: var(--button-up-fill);
   
}

.button-up:hover {
    background-color: var(--button-up-background-hover); /* Cambia l'opacità del colore di sfondo al passaggio del mouse */
}

.button-up.clicked {
    border: none;
    outline: none;
  }

