* {
  -webkit-font-smoothing: antialiased;
}

.figures {
  position: relative;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.figures-cake-figures {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 40px;
}

.figures-container {
  width: 100%;
  max-width: 968px;
  padding: 0 16px;
  margin: 0;
  /* box-sizing: border-box; */
}

.figures-container .figures-cake {
  color: var(--primary-color-news, #280d5f);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.figures-container .figures-figures {
  color: var(--secondary-color-news, #7645d9);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.figures-container .figures-items .figures-item {
  width: auto;
}

.figures-container .figures-items .figures-item .figures-primary {
  color: var(--primary-color-news, #280d5f);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.figures-container .figures-items .figures-item .figures-secondary {
  color: var(--secondary-color-news, #7645d9);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
}

.figures-container .figures-items .figures-item:last-child {
  border-bottom: 0;
}

.figures-container .figures-items .figures-item:first-child,
.figures-container .figures-items .figures-item:nth-child(3) {
  border-right: 1px solid var(--colors-card-border, #e7e3eb);
}

.figures-container .figures-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 30px;
  justify-content: center;
}

.figures-container .figures-items .figures-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--colors-card-border, #e7e3eb);
  padding: 12px 16px;
  flex-grow: 1;
}

.figures-container .bottom {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
}

.figures-container .bottom .bottom-background {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0px;
}

.figures-container .bottom .bottom-background svg {
  width: 100%;
  height: 100%;
  max-height: 48px;
}

/* TABLET */

@media screen and (min-width: 576px) and (max-width: 967px) {
  .figures-container .figures-items {
    margin-bottom: 50px;
  }

  .figures-container .figures-items .figures-item {
    width: 33%;
    border-bottom: none;
  }

  .figures-container .figures-items .figures-item:nth-child(2n) {
    border-right: 1px solid var(--colors-card-border, #e7e3eb);
  }

  .figures-container .figures-items .figures-item:nth-child(3) {
    border-right: none;
  }

}

/* DESKTOP */

@media screen and (min-width: 968px) {
  .figures-container .figures-items {
    gap: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .figures-container .figures-items .figures-item {
    width: auto;
    border-bottom: none;
  }


  .figures-container .figures-items .figures-item:nth-child(2n) {
    border-right: 1px solid var(--colors-card-border, #e7e3eb);
  }
}