* {
  -webkit-font-smoothing: antialiased;
}

.figures-cake-figures {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 40px;
}

.figures-container .figures-cake {
  color: var(--primary-color-news, #280d5f);
  font-weight: 600;
  line-height: 1.5;
  font-size: 24px;
}

.figures-container .figures-figures {
  color: var(--secondary-color-news, #7645d9);
  font-weight: 600;
  line-height: 1.5;
  font-size: 24px;
}

.figures-container .figures-items .figures-item {
  width: auto;
}

.figures-container .figures-items .figures-item .figures-primary {
  color: var(--primary-color-news, #280d5f);
  font-weight: 600;
  line-height: 1.5;
  font-size: 14px;
}

.figures-container .figures-items .figures-item .figures-secondary {
  color: var(--secondary-color-news, #7645d9);
  font-weight: 600;
  line-height: 1.1;
  font-size: 24px;
}


/* @media screen and (max-width: 1079px) {
 
}

@media screen and (min-width: 968px) {
  
}

@media screen and (max-width: 967px) {

}

*/

@media screen and (max-width: 851px) {
  .figures-container .figures-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 50px;
  }

  .figures-container .figures-items .figures-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
    width: 33%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 575px) {

  .figures-container .figures-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 30px;
  }

  .figures-container .figures-items .figures-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
    width: 50%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--colors-card-border, #e7e3eb);
  }

  .figures-container .figures-items .figures-item:nth-child(even) {
    border-left: 1px solid var(--colors-card-border, #e7e3eb);
  }

  .figures-container .figures-items .figures-item:last-child {
    width: 100%;
    border: 0;
  }

}