*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carosello-container{
    font-family: Kanit,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 32px;

    background-image: linear-gradient(to bottom ,var(--background-principal) 10%,var(--carosello-background) 100%);    
}
.carosello-heder{
    text-align: center;
    
    
}
.carosello-heder>h2{
    color: var(--primary-color-news);
    font-weight: 600;
    font-size: 32px;
}



.carosello-main{
    max-width: 1200px;
    max-height: 400px;
    gap: 32px;
    margin: 16px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.carosello-main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carosello-main>div>h5{
    color: var(--primary-color-news);
    font-weight: 600;
    font-size: 20px;
}
.carosello-main>div>h3{
    color: var(--secondary-color-news);
    font-weight: 600;
    font-size: 40px;
}
.carosello-main>div>p{
    color: var(--colors-text-subtle);
    font-weight: 600;
    font-size: 16px;
}

.container-footer{
    display: flex;
}

.border-sinistro{
    width: 100px;
    height: 46px;
   /*border: 1px solid black;*/
    position: relative;
    left: 4%;
    z-index: 1;
    background-image: linear-gradient(to right, #dfd4f0 50% , transparent);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    
    
}
.border-destro{
    width: 100px;
    height: 46px;
    /*border: 1px solid black;*/
    position: relative;
    right: 4%;
    
    z-index: 1;
    background-image: linear-gradient(to right, transparent  , #dfd4f0 50%);
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    

}

.carosello-footer{
    max-width: 1168px;
    height: 46px;
    overflow-x: hidden;

    display: flex;
    flex-direction: row;
    gap: 32px;

    border-left: 5px transparent white;
    border-right: 5px transparent white;
}

.carosello-footer>a{
    border-radius: 32px;
    padding:12px 24px;

    font-size: 20px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    gap: 8px;

    position: relative;
    right: 0px;
}
.carosello-footer>a{
    text-decoration: none;
}
.carosello-footer>a:hover{
    text-decoration: none;
}
.carosello-footer>a>p{
    padding: 0;
    margin: 0;
}
#bnb{
    background-color: #F0B90B;
    color:var(--background-principal);    
}
#opbnb{
    color:#F0B90B;
    background-color:#333333;
}
#aptos{
    color: var(--background-principal);
    background-color: #17ba92;
}
#ethereum{
    color: var(--background-principal);
    background-color: #627ad8;
}
#polygon{
    color: var(--background-principal);
    background-color: #ad73de;
}
#zksync{
    color: var(--background-principal);
    background-color: #686ea7;
}
#arbitrum{
    color: var(--background-principal);
    background-color: #6e89ae;
}
#linea{
    color: var(--background-principal);
    background-color: #74c2d2;
}
#base{
    color: var(--background-principal);
    background-color: #6991e5;
}

.footer-background>img{
    height: 32px;
    width: 100%;
}

/*Media queries*/

@media screen and (max-width:768px) {
    .carosello-container{
        max-width: 100%;
    }

    .carosello-heder>h2{        
        font-size: 32px;
        text-align: center;
        overflow-wrap: break-word;
    }

    .carosello-main{
        max-width: 430px;
        gap: 32px;
    }
    .carosello-main>div>h5{     
        font-size: 20px;
    }
    .carosello-main>div>h3{
        font-size: 40px;
    }
    .carosello-main>div>p{
        font-size: 16px;
    }
}

@media screen and (max-width:430px) {
    .carosello-container{
        max-width: 100%;
    }

    .carosello-heder>h2{        
        font-size: 20px;
        text-align: center;
        overflow-wrap: break-word;
    }

    .carosello-main{
        max-width: 430px;
        flex-direction: column;
        gap: 0px;
    }
    .carosello-main>div>h5{     
        font-size: 16px;
    }
    .carosello-main>div>h3{
        font-size: 32px;
    }
    .carosello-main>div>p{
        font-size: 14px;
    }

    
    .carosello-footer{
        height: 38px;
        max-width: 430px;
        
    }
    .container-footer{
        height: 38px;
        margin: 8px;
    }
    .carosello-footer>a{
        font-size: 16px;
    }
    .carosello-footer>a>img{
        width: 20px;
    }
}
