* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  /* height: 55px; */
  /* padding: 3px 0; */
  background-color: #fff;
  border-bottom: 1px solid rgb(231, 227, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

nav .left {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

nav .left .menu {
  list-style: none;
  display: flex;
  margin-left: 24px;
}

nav .left .menu li {
  position: relative;
}

nav .left .menu a {
  padding: 0 16px;
  margin: 3px 0;
  height: 48px;
  display: flex;
  align-items: center;
  color: #7a6eaa;
  font-size: 16px;
}

nav .left .menu a:hover {
  background-color: #eff4f5;
  border-radius: 16px;
}

nav .right {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

nav .right .dollars {
  color: #7a6eaa;
  font-weight: bold;
}

nav .right .button {
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

nav .right .button.currency {
  background-color: #eff4f5;
  color: #280d5f;
}

nav .right .button.wallet {
  background-color: #1fc7d4;
  color: #fff;
}

.sub-menu {
  background-color: #fff;
  border: 1px solid #e7e3eb;
  border-radius: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 280px;
  position: absolute;
  top: 55px;
  left: 0;
  display: none;
  z-index: 1001;
}

.sub-menu li {
  font-size: 16px;
  color: #7a6eaa;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-menu li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sub-menu li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sub-menu li:hover {
  background-color: #eff4f5;
}

nav .left .menu > li:hover .sub-menu,
.sub-menu:hover {
  display: block;
}

.border-top-bottom {
  border-top: 1px solid rgb(231, 227, 235);
  border-bottom: 1px solid rgb(231, 227, 235);
}