* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.big-section-news {
    width: 100%;
    font-family: Kanit, sans-serif;
    display: block;
    align-items: center;
    justify-content: center;

}

.container-news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-news>.container-arrows {
    height: 584px;
    width: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#freccia-sinistra {
    padding-right: 8px;
}

#freccia-destra {
    padding-left: 8px;
}

.section-news {
    /*font-family: Kanit,sans-serif;*/

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;

    width: 90%;
    max-width: 1288px;
    height: 584px;
}

.section-news>.top-section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 40px;

    /*font-family: kanit, sans-serif; */
}

.section-news>.top-section>.div1 {
    color: var(--primary-color-news);
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    /*font-family: kanit, sans-serif;*/

    height: 60px;
}

.section-news>.top-section>.div2 {
    padding: 0;
    margin: 0;
    padding: 8px;
    color: var(--secondary-color-news);
    font-size: 40px;
    font-weight: 600;
    /*font-family: kanit, sans-serif;*/

    height: 60px;
}

.section-news>.bottom-section {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;

    gap: 32px;

    overflow-x: scroll;
    overflow-y: hidden;

    width: 100%;

    border-radius: 24px;
}

.section-news>.bottom-section::-webkit-scrollbar {
    display: none;
}

.section-news>.bottom-section>.card {
    border: none;

    width: 280px;
    height: 387px;

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}
.card:hover {
    text-decoration: none;
}
.card {
    text-decoration: none;
}

.section-news>.bottom-section>.card>.inside-card {
    height: 200px;
}

.section-news>.bottom-section>.card>.inside-card>img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 100%;
    height: 200px;

}

.section-news>.bottom-section>.card>.header-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    flex: 24px;
    padding: 16px;

    padding-left: 16px;
    padding-right: 16px;

    font-weight: 600;
    font-size: 12px;
    /*font-family: kanit, sans-serif;*/
    color: var(--colors-text-subtle);

}

.section-news>.bottom-section>.card>.main-card {
    padding-left: 16px;
    padding-right: 16px;

    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    display: flex;
    flex: 64px;

    font-weight: 600;
    font-size: 16px;
    /*font-family: kanit, sans-serif;*/
    color: var(--primary-color-news);
}

.section-news>.bottom-section>.card>.footer-card {
    display: flex;
    flex: 80px;

    padding-left: 16px;
    padding-right: 16px;

    font-size: 9px;
    /* font-family: kanit, sans-serif;*/
    color: var(--footer-card-news);

    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 3px solid lightgray;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

}

.arrows {
    margin: 8px;
    margin-top: 133px;
    border: 2px solid #1fc7d4;
    border-radius: 100%;
    height: 36px;
    width: 36px;
}

.arrows:hover {
    cursor: pointer;
}


@media screen and (max-width:1392px) {
    .big-section-news {
        justify-content: start;
    }
}

@media screen and (max-width:768px) {
    .big-section-news {
        align-self: center;
    }

    .container-news {
        width: 100%;
    }

    .section-news>.bottom-section {
        width: 100%;
        gap: 32px;
    }

    .section-news>.bottom-section {
        gap: 32px;
    }

    #freccia-sinistra {
        padding-right: 4px;
    }

    #freccia-destra {
        padding-left: 4px;
    }

    .container-news>.container-arrows {
        width: 43px
    }
}

@media screen and (max-width:430px) {
    .big-section-news {
        width: 100%;
    }

    .container-news {
        width: 100%;
    }

    .section-news>.bottom-section {
        width: 280px;
        gap: 32px;
    }

    #freccia-sinistra {
        padding-right: 2px;
    }

    #freccia-destra {
        padding-left: 2px;
    }

    .container-news>.container-arrows {
        width: 43px
    }
}